.vs
bin/debug
bin/release
bin/temp
*.pdb
qnob.mak
qnob.vcxproj.filters
winbuild/qnob.vcxproj.user
winbuild/qnob.pro.user
.qmake.stash
qnob.pro.user
qnob.mak.Debug
qnob.mak.Release
x64/Debug/qnob.log
x64/Debug/qnob.vcxprojAssemblyReference.cache
x64/Release/qnob.vcxprojAssemblyReference.cache
x64/Release/qnob.log
x64/Debug/qnob.Build.CppClean.log
qnob_plugin_import.cpp
