enc_temp_folder
.vs/qnob
.vs/cmake.db
.vs/CMake Overview
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/tasks.vs.json
.vs/VSWorkspaceState.json
bin
build
*.pdb
*.mak
*.mak.*
qnob.vcxproj.filters
.qmake.stash
qnob_plugin_import.cpp

